# .env.example

NEXT_PUBLIC_SUPABASE_URL=https://vyxebsthgzgffwliadie.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5eGVic3RoZ3pnZmZ3bGlhZGllIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIwNjQzODcsImV4cCI6MjA5NzY0MDM4N30.gesXkT8irSNejJAGDSEmi5MAhvIDxm0HL70XKF3Re4A
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5eGVic3RoZ3pnZmZ3bGlhZGllIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjA2NDM4NywiZXhwIjoyMDk3NjQwMzg3fQ.pjgUE1W26u8mJJTwB9dGMcwnZhUoA4KLWx8E8DU3rTM
